@import "variables";

html { 
  font-family: 'Avenir-Roman';
  background-color: $lightPurple;
  margin:0;
  padding:0;
  background: url(../img/sncf_agent.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}