._col12 {
width: 100%;
}
._col11 {
width: 91.66666667%;
}
._col10 {
width: 83.33333333%;
}
._col9 {
width: 75%;
}
._col8 {
width: 66.66666667%;
}
._col7 {
width: 58.33333333%;
}
._col6 {
width: 50%;
}
._col5 {
width: 41.66666667%;
}
._col4 {
width: 33.33333333%;
}
._col3 {
width: 25%;
}
._col2 {
width: 16.66666667%;
}
._col1 {
width: 8.33333333%;
}


._right {
	float: right;
}

._left {
	float: left;
}

._clear {
	clear: both;
}

//For font icone
[class^="icon-"], [class*=" icon-"] {
	font-family: 'sncf';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow_left:before {
	content: "\e601";
}
.icon-arrow_right:before {
	content: "\e602";
}
.icon-arrow_top:before {
	content: "\e603";
}
.icon-check:before {
	content: "\e604";
}
.icon-cross:before {
	content: "\e605";
}
.icon-machine:before {
	content: "\e606";
}
.icon-micro:before {
	content: "\e607";
}
.icon-plus:before {
	content: "\e608";
}
.icon-user:before {
	content: "\e609";
}