/* ##########
 VARIABLES 
########## */

/* Colors test
 ######### */

 $test1 : red;
 $test2 : green;


/* Size
 ######### */

$col12 : 100%;
$col11 : 91.66666667%;
$col10 : 83.33333333%;
$col9 : 75%;
$col8 : 66.66666667%;
$col7 : 58.33333333%;
$col6 : 50%;
$col5 : 41.66666667%;
$col4 : 33.33333333%;
$col3 : 25%;
$col2 : 16.66666667%;
$col1 : 8.33333333%;

$gaugeWidth : 3.125%;
//$gaugeWidth : 2.94117647%;
$gaugeHeight : 50%;
$gaugeBottom : 55px;

/* Colors
 ######### */

$white : #ffffff;
$grey : #d4d4d4;
$darkGrey : #6d6c6c;
$black : #000000;

$blue  : #099aa6;

$whitePurple : #BE82C4;
$veryLightPurple : #84428a;
$lightPurple : #6e1e78;
$purple : #511560;
$darkPurple :#4D1759;
$veryDarkPurple : #3a0444;
$blackPurple : #2c0535;
