@import "../base/variables";
@import "../base/mixins";

.Dashboard {
	position : absolute;
	width : 100%;
	height : 100%;
	z-index : -1;

	&-content {
		position : relative;
		width : 100%;
		height : 100%;
		max-width : 2000px;
		margin : auto;
		overflow : hidden;
	}

	&-wrapper {
		width: 92%;
		height: 100%;
		margin: auto;
	}

	&-taux {
		width: 1px;
		background-color: white;
		height: $gaugeHeight;
		position: absolute;
		bottom: $gaugeBottom;
	}

	&-gauge {
		float : left;
		width : $gaugeWidth;
		height : 100%;
	}
}

.Taux {
	color: white;
	font-size: 0.8em;
	opacity: 0;

	&-details {
		@include rotate(-90);
		position: absolute;
		width: 150px;
		right: -63px;
		bottom: 60px;
		font-size: 0.8em;
	}

	&-max {
		margin: 0;
		width: 120px;
		margin-left: -60px;
		margin-top: -30px;
		text-align: center;
	}
}