@import "../base/variables";

.StationSelection {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: $lightPurple;


	&-autocompleteZone {
		width: 100%;
		height: 100%;
		color : $white;
		font-family: Avenir-Roman;

		ul {
			background-color: $veryDarkPurple;
		}

		li {
			background-color: transparent;
		}
	}

	&-button {
		position: absolute;
		top : 0;
		right: 0;
		width: 40px;
		height: 100%;
		background-color: $veryDarkPurple;
	}

	.AutoCompltr-suggestion.focus, .AutoCompltr-suggestion:hover {
		background-color: white;
		color: rgb(58, 4, 68);
	}

	input {
		font-size: 90%;
		letter-spacing: 1px;
		padding: 0 10px;
	}
}