@import "../base/variables";

.StationSelection {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: $lightPurple;


	&-autocompleteZone {
		width: 100%;
		height: 100%;
		color : $white;
		font-family: Avenir-Roman;

		ul {
			background-color: $veryDarkPurple;
		}

		li {
			background-color: transparent;
		}
	}

	&-button {
		position: absolute;
		top : 0;
		right: 0;
		width: 40px;
		height: 100%;
		background-color: $veryDarkPurple;
	}
}