@import "../base/variables";
@import "../base/mixins";

.Veil {
	cursor: pointer;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: $blackPurple;
	@include transition(opacity .5s ease-out);

	&.hide {
		opacity: 0;
		pointer-events : none;
	}
}